module.exports = {
	ttConfig: {
		consumerKey: '',
		consumerSecret: '',
		accessToken: '',
		accessTokenSecret: ''
	},
	ffConfig: {
		consumerKey: '',
		consumerSecret: '',
		oauthToken: '',
		oauthTokenSecret: ''
	}
};
